#add-items {
    padding: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    z-index: 2000;
    background-color: $almost-white;

    @media only screen and (min-width: $screen-sm) { 
        width: 30rem;
    }  

    .match__teams {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 1rem 0 0;

        .vs {
            margin: 0 0.5rem;
            font-size: 1.5rem;
            height: 4rem;
            font-weight: 800;

            @media only screen and (min-width: $screen-sm) { 
                margin: 0 1rem;
            }  
        }

        .team {
            &__name {
                padding-top: 0.5rem;
                width: 5rem;
                height: 3rem;
                font-size: 0.8rem;

                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;

                @media only screen and (min-width: $screen-sm) { 
                    width: 6rem;
                }  

            }

            &__logo {
                height: 3rem;
                width: 3rem;

                @media only screen and (min-width: $screen-sm) { 
                    height: 6rem;
                    width: 6rem;
                }  
            }
        }
    }

    .row-space {
        padding-top: 1rem;
    }

    .input-group {
        padding: 0;
    }

    #number-input {
        border: solid $dark-blue;
        border-width: 2px 0;
        height: 2rem;
        text-align: center;
    }

    .button-count {
        background: #fff;
        cursor: pointer;

        border: 2px solid $dark-blue;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;

      }
      
    .button-count:hover {
        background-color: $dark-blue;
        transition: 0.2s;
        color: #FFF;
    }

    .input-group-text {
        background-color: $dark-blue;
        color: #FFF;
    }

    .btn {
        width: auto;
        &.cancel {
            background-color: $dark-blue;
            color: #FFF;
        }
    }
}