/***********************************
           CAROUSEL Big New
 ***********************************/
 
#bignew-carousel{
    height: 40rem;
    overflow: hidden;

    .carousel-item {
        height: 40rem;
        width: 100vw;
        position: relative;

        img {
            object-fit: cover;
            height: 40rem;

            @media only screen and (min-width: $screen-lg) { 
               object-position: 0 40%;  
            }   

        }

        &__caption {
            min-height: 40%;
            width: 100vw;
            position: absolute;
            bottom: 0;
            left: 0;

            padding-bottom: 50px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #FFFFFF;
            text-align: center;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }

            .bignew__title {
                margin-top: 1rem;
                font-size: 2rem;
            }

            .bignew__text {
                font-size: 1rem;
                margin: 0 auto 0.2rem auto;
                width: 65%;
            }

            .bignew__small-text {
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

/***********************************
            Posts
 ***********************************/

.posts {
    grid-area: posts;
    text-align: left;
    column-gap: 40px;
    margin: 2rem 20px 0 40px;
    width: auto;

    &__post {
        margin-bottom: 3rem;
        color: $almost-white;
        
        h2 {
            line-height: 2;
            font-size: 1.2rem;
            font-style: bold;
            text-transform: capitalize;
        }

        h3 {
            line-height: 1.5;
            font-size: 1rem;
            text-transform: initial;
        }
        
        p {
            text-indent: 1rem;
        }
        
        .post__image {
            display: flex;
            justify-content: left;
            margin: 5px;
        }

        .post__image img {
            object-position: left center;
            object-fit: cover;
            width: 100%;
            height: 20rem;
        }
    }
}