/***********************************
        Content
***********************************/

.content-signup {
    background-color: #FFF;
    display: grid;
    grid-template-areas:
        "banner"
        "input"
        "input";

    .contact {
        grid-area: input;
        margin: 1rem 0 2rem 0;
        max-width: 1500px;

        .submit-button {
            display: flex;
            justify-self: center;
            align-self: center;
        }
    }
}    


