/***********************************
        Content
***********************************/

.user-created {
    background: $dark-red;
    color: white;
    padding: 20px;
    display: block;
    right: 10px;
    z-index: 1;
    position: fixed;
}

#content-signin {
    background-color: $content-background-color;
    display: grid;
    grid-template-areas:
        "input";

    .contact {
        grid-area: input;
        margin: 1rem 0 2rem 0;
        width: 100%;

        .input-info {
            padding: 1rem;
            background-color: #FFF;
            width: 80%;
            
            .form-text {
                margin-top: 7px;
            }

            .required-shadow {
                border-color: $light-red; 
                
                &:focus {
                    box-shadow: 0 0 0 0.25rem $light-red-shadow; 
                }
            }
        }

        .login-redirect {
            padding: 1rem;
            background-color: #000;
            color: #FFF;
            width: 80%;

            a {
                color: rgb(98, 213, 255);
            }
        }

        @media only screen and (min-width: $screen-md) {
            .login-redirect, .input-info {
                width: 100%;
                max-width: 40rem;
            }
        }   
    }
}    


