/***********************************
            Matches
 ***********************************/

// I could do this thanks to 
// https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6

#nextmatches-carousel {
    grid-area: matches;
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    max-height: 23rem;

    #nextmatches-carousel-inner {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 0.5rem;
    
        // for iOS
        -webkit-overflow-scrolling: touch;
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            
            display: none;
        } 
    }

    .nextmatches-control {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;

    }
    .control-prev {
        background-image: linear-gradient(270deg, rgba($dark-blue, .90), rgba($dark-blue, .001));
    }

    .control-next {
        background-image: linear-gradient(90deg, rgba($dark-blue, .90), rgba($dark-blue, .001));
    }

    .matches__match {
        flex: 0 0 auto;

        color: #FFFFFF;
        background-color: $dark-blue;
        vertical-align: top;
        width: 18rem;
        margin: 0 0.5rem;
        padding: 0;
        
        display: flex;
        flex-flow: column nowrap;
        
        .match__info {
            text-align: center;
            font-size: 0.8rem;
            border-bottom: 0.5px solid $light-grey;
            border-left: 0.5rem solid $dark-red;
        }

        .match__teams {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 1rem 0 0;

            .vs {
                margin: 0 0.5rem;
                font-size: 1.5rem;
                height: 4rem;
                font-weight: 800;
            }

            .team {
                &__name {
                    padding-top: 0.5rem;
                    max-width: 6rem;
                    height: 3rem;
                    font-size: 0.8rem;

                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                }

                &__logo {
                    height: 4rem;
                    width: 4rem;
                }
            }
        }

        .match__tickets {
            height: 5rem;
            position: relative;
            margin-top: 1rem;
            border-top: 1PX dashed $light-grey;

            .ticket {
                height: fit-content;
                margin: 0.5rem 0.5rem;
                border-radius: 0;
            }

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                height: 2rem;
                width: 2rem;
                background-color: $content-background-color;
                border-radius: 50%;
                top: -1rem;
            }

            &:before {
                left: -1rem;
            }

            &:after {
                right: -1rem;
            }
        }
    }
}

/******************************************************
            Specific to the tickets page
 ******************************************************/

.content-tickets {
    display: grid;
    grid-template-areas:
        "banner"
        "tickets";

    #nextmatches-carousel {
        grid-area: tickets;
    }
}    